/* App.css */
.post-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  
  .post-detail {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
  }
  